html
	head
		link(rel="stylesheet" type="text/css" href="style.css")
	body 
		header
			div.wrapper
				ul
					li
						a(href="#").
							о клинике
					li
						a(href="#").
							отделения
					li
						a(href="#").
							акции
					li
						img(src="img/Title_files/logo.png")
					li
						a(href="#").
							фотогалерея
					li
						a(href="#").
							спроси врача
					li
						a(href="#").
							контакти
				div.burger
				div.hidden_logo
					img(src="img/Title_files/logo.png")
		div.content
			main
				div.content_in_main
					h2 ЭСТЕТИЧЕСКАЯ ПЛАСТИЧЕСКАЯ ХИРУРГИЯ
					div.small_line
					div.service
						p.	Современная пластическая эстетическая хирургия в Украине												
						p. 
                            Современная пластическая эстетическая хирургия в клинике «Моцарт». Клиника эстетической хирургии «др. Моцарт» работает в Одессе уже более 10 лет. Тот, кто планирует сделать эстетическую операцию у нас, ценит стабильность нашей работы.
                        h3 header 3
                        p. 
                            Современная пластическая эстетическая хирургия в Украине
                        p.
                            Современная пластическая эстетическая хирургия в клинике «Моцарт». Клиника эстетической хирургии «др. Моцарт» работает в Одессе уже более 10 лет. Тот, кто планирует сделать эстетическую операцию у нас, ценит стабильность нашей работы.
                         h3 header 3
                        p. 
                            Современная пластическая эстетическая хирургия в Украине.
                        p. 
                            Современная пластическая эстетическая хирургия в клинике «Моцарт». Клиника эстетической хирургии «др. Моцарт» работает в Одессе уже более 10 лет. Тот, кто планирует сделать эстетическую операцию у нас, ценит стабильность нашей работы.
					div.table_header HEADER 						table 											tbody														tr 														td Table 1											td Table 2											td Table 3 											td Table 4 										tr 														td Table 1 											td Table 2 											td Table 3 											td Table 4 										tr 														td Table 1 											td Table 2 											td Table 3 											td Table 4 										tr 														td Table 1 											td Table 2 											td Table 3 											td Table 4										
                    div.grey_line
                    div.after_table
                    	 p.
                    Прогнозировать результат эстетической коррекции формы носа сложно. Чем обеспечено стабильное хорошее качество ринопластик в клинике Моцарт? Эстетическая операция по улучшению формы носа – риносептопластика — включает 2 этапа: эстетический (улучшение формы носа) и функциональный (улучшение качества дыхания — коррекция внутренних структур носа). Это – мировой стандарт. Эстетический хирург планирует всю операцию в своей голове ( а для пациента — на экране монитора ), ЛОР — хирург оперирует, с учетом дальнейших этапов эстетической части операции. Пациент – просто спит. То есть — для хорошего эстетического и функционального результата эстетической ринопластики важна слаженность действий всей хирургической команды.
                    	p
                    	img (src="img/Title_files/category-1.jpg")
                    	Зстетичность результата – категория очень индивидуальная. Такое правило в хирургии, которая называется эстетической. Мы гибко используем различные технологии и привлекаем различных специалистов. Например, фиксация перемещенного массива тканей на Зстетичность результата – категория очень индивидуальная. Такое правило в хирургии, которая называется эстетической. Мы гибко используем различные технологии и привлекаем различных специалистов. Например, фиксация перемещенного массива тканей на Зстетичность результата – категория очень индивидуальная. Такое правило в хирургии, которая называется эстетической. Мы гибко используем различные технологии и привлекаем различных специалистов. Например, фиксация перемещенного массива тканей на Зстетичность результата – категория очень индивидуальная.
                    	img (src="img/Title_files/category-1.jpg)
                    	Такое правило в хирургии, которая называется эстетической. Мы гибко используем различные технологии и привлекаем различных специалистов. Например, фиксация перемещенного массива тканей на Зстетичность результата – категория очень индивидуальная. Такое правило в хирургии, которая называется эстетической. Мы гибко используем различные технологии и привлекаем различных специалистов. Например, фиксация перемещенного массива тканей на Зстетичность результата – категория очень индивидуальная. Такое правило в хирургии, которая называется эстетической. Мы гибко используем различные технологии и привлекаем различных специалистов. Например, фиксация перемещенного массива тканей на Зстетичность результата – категория очень индивидуальная. Такое правило в хирургии, которая называется эстетической. Мы гибко используем различные технологии и привлекаем различных специалистов. Например, фиксация перемещенного массива тканей на Зстетичность результата – категория очень индивидуальная. Такое правило в хирургии, которая называется эстетической. Мы гибко используем различные технологии и привлекаем различных специалистов. Например, фиксация перемещенного массива тканей на Зстетичность результата – категория очень индивидуальная. Такое правило в хирургии, которая называется эстетической. Мы гибко используем различные технологии и привлекаем различных специалистов. Например, фиксация перемещенного массива тканей.
            aside 
            	h2 ОТДЕЛЕНИЯ КЛИНИКИ
            div.blue_line_3
            ul
            	li ЛАЗЕРНАЯ ДЕРМАТОЛОГИЯ
                li КОСМЕТОЛОГИЯ
                li ЛОР
                li РЕАБИЛИТАЦИЯ ПОСЛЕ ПЛАСТИЧЕСКИХ ОПЕРАЦИЙ
                li КОНСУЛЬТАЦИИ
                li ТРИХОЛОГИЯ
                li ГИНЕКОЛОГИЯ
            p ЭСТЕТИЧЕСКАЯ ПЛАСТИЧЕСКАЯ ХИРУРГИЯ
            div.gallery
            	h2 ГАЛЕРЕЯ
            	div.blue_line_3
                div.img_gallery
                	img(src="img/Title_files/gallery.jpg")
                    img(src="img/Title_files/gallery.jpg")
                    img(src="img/Title_files/gallery.jpg")
                    img(src="img/Title_files/gallery.jpg")
                h3 ПОСЛЕДНИЕ НОВОСТИ
            	div.blue_line_3
            	div.news
            		img(src="img/Title_files/news.jpg")
                	h4.h4 ЗАГОЛОВОК НОВОСТИ НОВОСТИ НОВОСТИ
                div.news
            		img(src="img/Title_files/news.jpg")
                	h4.h4 ЗАГОЛОВОК НОВОСТИ НОВОСТИ НОВОСТИ
         	footer
         		img.logo(src="img/Title_files/logo-footer.png")
         			div.wrapper
         				div.contacts 
         					div.address
         						p УЛ. ПОЛЬСКАЯ, 18
                    			p (ВХОД С УЛ. ЖУКОВСКОГО),
                   				p Г. ОДЕССА, 65026, УКРАИНА
                   			div.phones
                   				a(href="tel:")
                   					+38 (048) 777-15-10
                				a(href="tel:")
                					+38 (063) 756-64-10
                			div.social
                				h4 МИ В СОЦИАЛЬНЫХ СЕТЯХ
                				a(href="#")
                					img(src="img/Title_files/fb-icon.png")
                				a(href="#")
                					img(src="img/Title_files/vk-icon.png")
                				a(href="#")
                					img(src="img/Title_files/youtube-icon.png")
                <div.copyrights MOZART CLINIC © 2017


